@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply m-0 font-sans antialiased text-slate-100 bg-slate-950;
    -webkit-tap-highlight-color: transparent;
  }

  * {
    @apply box-border;
  }

  button {
    @apply select-none;
    -webkit-touch-callout: none;
  }
}

@layer components {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-600/60 rounded-full;
  }
}
